Repository robcalon/pyetm: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

.pre-commit-config.yaml:

# The repos are ordered in the way they are executed.
# This is important because `autoflake` should run before `flake8`, for example

default_stages: [commit, push]
fail_fast: true
minimum_pre_commit_version: 2.15.0
repos:

  - repo: local
    hooks:

      # checks for files that would conflict in case-insensitive filesystems.
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
        types: [ python ]

      # checks for files that contain merge conflict strings.
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
        types: [ python ]

      # ensures that a file is either empty, or ends with one newline.
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types: [ python ]

      # removes utf-8 byte order marker.
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        language: python
        types: [ python ]

      # replaces or checks mixed line ending.
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: mixed-line-ending
        language: python
        types: [ python ]

      # trims trailing whitespace.
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: python
        types: [ python ]

      #
      - id: black
        name: black
        entry: black
        files: "^(src|tests)"
        language: python
        types: [ python ]

      - id: ruff
        name: ruff
        entry: ruff
        files: "^(src|tests)"
        language: python
        types: [ python ]
        args: [--fix, --exit-non-zero-on-fix]

      #
      # - id: pylint
      #   name: pylint
      #   entry: pylint
      #   files: "^(src|tests)"
      #   language: python
      #   types: [ python ]

      #
      - id: mypy
        name: mypy
        entry: mypy
        files: "^(src/pyetm/sessions|src/pyetm/client|src/pyetm/profiles)"
        language: python
        types: [ python ]

input parameters
  src/pyetm/client/client.py
  src/pyetm/client/parameters.py
  src/pyetm/client/scenario.py
  src/pyetm/client/utils.py
  src/pyetm/utils/categorisation.py
  src/pyetm/utils/converter.py
  src/pyetm/utils/interpolation.py
  src/pyetm/utils/profiles.py
  src/pyetm/utils/url.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

interpolation
  src/pyetm/client/account.py
  src/pyetm/client/client.py
  src/pyetm/client/parameters.py
  src/pyetm/client/scenario.py
  src/pyetm/client/session.py
  src/pyetm/types.py
  src/pyetm/utils/interpolation.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

custom profiles
  src/pyetm/profiles/__init__.py
  src/pyetm/profiles/capacityfactors/__init__.py
  src/pyetm/profiles/cfactors/__init__.py
  src/pyetm/profiles/heat/__init__.py
  src/pyetm/profiles/heat/buildings.py
  src/pyetm/profiles/heat/cooling.py
  src/pyetm/profiles/heat/households.py
  src/pyetm/profiles/heat/smoothing.py
  src/pyetm/profiles/weather/__init__.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

bugfix
  src/pyetm/sessions/abc.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

bugfix
  src/pyetm/utils/categorisation.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

Remove deprecated axis=1 from groupby
  pyproject.toml
  src/pyetm/utils/categorisation.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

version 1.3.0
  pyproject.toml
  src/pyetm/myc/__init__.py
  src/pyetm/myc/model.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

updated example
  examples/introduction.ipynb
Due: none

codestyle
  src/pyetm/utils/categorisation.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

codestyle
  src/pyetm/client/client.py
  src/pyetm/client/parameters.py
  src/pyetm/client/scenario.py
  src/pyetm/client/session.py
  src/pyetm/profiles/cfactors.py
  src/pyetm/profiles/heat/__init__.py
  src/pyetm/profiles/heat/households.py
  src/pyetm/sessions/abc.py
  src/pyetm/types.py
  src/pyetm/utils/interpolation.py
  src/pyetm/utils/profiles.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

include package-data
  pyproject.toml
Due: none

bugfix
  src/pyetm/client/parameters.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

redundant code
  src/pyetm/sessions/aiohttp.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

exclude disabled parameters
  src/pyetm/utils/interpolation.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

addedd boolean
  src/pyetm/utils/interpolation.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

version 1.3.1
  pyproject.toml
Due: none

bugfix
  src/pyetm/client/session.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

version 1.3.2
  pyproject.toml
Due: none

version 1.3.3
  pyproject.toml
Due: none

bugfix
  src/pyetm/utils/excel.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

bugfix profiles
  .gitignore
  pyproject.toml
  src/pyetm/client/customcurves.py
  src/pyetm/client/parameters.py
  src/pyetm/logger.py
  src/pyetm/optional.py
  src/pyetm/profiles/heat/__init__.py
  src/pyetm/profiles/heat/buildings.py
  src/pyetm/profiles/heat/households.py
  src/pyetm/sessions/aiohttp.py
  src/pyetm/utils/interpolation.py
  src/pyetm/utils/profiles.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

bugfix
  src/pyetm/optional.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

scenario and myc examples
  examples/1. scenarios.ipynb
  examples/3. myc.ipynb
  examples/data/myc.xlsx
  examples/data/myc_model_configuration.xlsx
  examples/data/myc_parameter_upload.xlsx
  examples/myc.ipynb
  examples/templates/myc/study.xlsx
  examples/templates/myc/upload.xlsx
Due: none

minor fixes
  examples/3. myc.ipynb
Due: none

weathertools update
  pyproject.toml
  src/pyetm/client/session.py
  src/pyetm/exceptions.py
  src/pyetm/profiles/__init__.py
  src/pyetm/profiles/heat/smoothing.py
  src/pyetm/types.py
  src/pyetm/utils/validators/__init__.py
  src/pyetm/utils/validators/carriers.py
  src/pyetm/utils/validators/cfactors.py
  src/pyetm/weather/__init__.py
  src/pyetm/weather/io/__init__.py
  src/pyetm/weather/io/abc.py
  src/pyetm/weather/io/csv.py
  src/pyetm/weather/io/parquet.py
  src/pyetm/weather/models/__init__.py
  src/pyetm/weather/models/buildings.py
  src/pyetm/weather/models/cooling.py
  src/pyetm/weather/models/heat_demand.py
  src/pyetm/weather/models/households.py
  src/pyetm/weather/pecd/__init__.py
  src/pyetm/weather/pecd/abc.py
  src/pyetm/weather/pecd/pecd31.py
  src/pyetm/weather/pecd/pecd41.py
  src/pyetm/weather/scalers/__init__.py
  src/pyetm/weather/scalers/abc.py
  src/pyetm/weather/scalers/sigmoid.py
  src/pyetm/weather/weather_profile_generator.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

v1.3.5
  pyproject.toml
Due: none

fixes
  src/pyetm/client/curves.py
  src/pyetm/client/utils.py
  src/pyetm/utils/categorisation.py
  src/pyetm/utils/profiles.py
  src/pyetm/utils/regionalisation.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

new and updated examples
  examples/1. scenarios.ipynb
  examples/2. mapping & regionalisation.ipynb
  examples/data/hourly_electricity_curve_mapping.csv
Due: none

v1.3.6
  pyproject.toml
Due: none

clear notebook
  examples/2. mapping & regionalisation.ipynb
Due: none

precommit config
  .pre-commit-config.yaml
  pyproject.toml
  src/pyetm/weather/weather_profile_generator.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

updated myc client
  .pre-commit-config.yaml
  pyproject.toml
  src/pyetm/myc/__init__.py
  src/pyetm/myc/model.py
  src/pyetm/myc/pool.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

xlsxwriter as required dependency
  src/pyetm/myc/model.py
  src/pyetm/utils/converter.py
  src/pyetm/utils/excel.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

bugfix optional gqueries
  examples/data/myc_model_configuration.xlsx
  src/pyetm/client/gqueries.py
  src/pyetm/myc/model.py
  src/pyetm/myc/pool.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff, mypy

version 1.4.1
  pyproject.toml
Due: none

upload ccurves
  pyproject.toml
  src/pyetm/myc/model.py
  src/pyetm/myc/pool.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

bugfix: incorrect parameter name
  pyproject.toml
  src/pyetm/myc/pool.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff

bugfix for new ETM deploy
  pyproject.toml
  src/pyetm/myc/model.py
  src/pyetm/myc/pool.py
Due: check-case-conflict, check-merge-conflict, end-of-file-fixer, fix-byte-order-marker, mixed-line-ending, trailing-whitespace-fixer, black, ruff
